h1, .h1, h1#heading1 { 
    line-height: var(--h1-line-height, $h1-line-height);
    font-size: var(--h1-font-size, $h1-font-size);
    @include media-breakpoint-down(md) {
        font-size: var(--h1-font-size-md, $h1-font-size-md);
        line-height: (--h1-line-height-md, $h1-line-height-md);
    }
    @include media-breakpoint-down(sm) {
        font-size: var(--h1-font-size-sm, $h1-font-size-sm);
        line-height: var(--h1-line-height-sm, $h1-font-size-sm);
    }
}
h2, .h2, h2#heading2 { 
    line-height: var(--h2-line-height, $h2-line-height);
    font-size: var(--h2-font-size, $h2-font-size);
    @include media-breakpoint-down(md) {
        font-size: var(--h2-font-size-md, $h2-font-size-md);
        line-height: var(--h2-line-height-md, $h2-line-height-md);
    }
    @include media-breakpoint-down(sm) {
        font-size: var(--h2-font-size-sm, $h2-font-size-sm);
        line-height: var(--h2-line-height-sm, $h2-line-height-sm);
    }
}
h3, .h3, h3#heading3 { 
    line-height: var(--h3-line-height, $h3-line-height);
    font-size: var(--h3-font-size, $h3-font-size);
    @include media-breakpoint-down(md) {
        font-size: var(--h3-font-size-md ,$h3-font-size-md);
        line-height: var(--h3-line-height-md, $h3-line-height-md);
    }
    @include media-breakpoint-down(sm) {
        font-size: var(--h3-font-size-sm, $h3-font-size-sm);
        line-height: var(--h3-line-height-sm, $h3-line-height-sm);
    }
}
h4, .h4, h4#heading4 { 
    line-height: var(--h4-line-height, $h4-line-height);
    font-size: var(--h4-font-size, $h4-font-size);
    @include media-breakpoint-down(md) {
        font-size: var(--h4-font-size-md, $h4-font-size-md);
        line-height: var( --h4-line-height-md, $h4-line-height-md);
    }
    @include media-breakpoint-down(sm) {
        font-size: var(--h4-font-size-sm, $h4-font-size-sm);
        line-height: var(--h4-line-height-sm, $h4-line-height-sm);
    }
}
h5, .h5, h5#heading5 { 
    line-height: var(--h5-line-height, $h5-line-height);
    font-size: var(--h5-font-size, $h5-font-size);
    @include media-breakpoint-down(md) {
        font-size: var(--h5-font-size-md, $h5-font-size-md);
        line-height: var(--h5-line-height-md, $h5-font-size-md);
    }
    @include media-breakpoint-down(sm) {
        font-size: var(--h5-font-size-sm, $h5-font-size-sm);
        line-height: var(--h5-line-height-sm, $h5-line-height-sm);
    }
}
h6, .h6, h6#heading6 { 
    line-height: var(--h6-line-height, $h6-line-height);
    font-size: var(--h6-font-size, $h6-font-size);
    @include media-breakpoint-down(md) {
        font-size: var(--h6-font-size-md, $h6-font-size-md);
        line-height: var(--h6-line-height-md, $h6-line-height-md);
    }
    @include media-breakpoint-down(sm) {
        font-size: var(--h6-font-size-sm, $h6-font-size-sm);
        line-height: var(--h6-line-height-sm, $h6-line-height-sm);
    }
}

h1#headingMd1.h1-md { 
    font-size: var(--h1-font-size-md, $h1-font-size-md); 
    line-height: var(--h1-line-height-md, $h1-line-height-md); 
}
h2#headingMd2.h2-md { 
    font-size: var(--h2-font-size-md, $h2-font-size-md); 
    line-height: var(--h2-line-height-md, $h2-line-height-md);
}
h3#headingMd3.h3-md { 
    font-size: var(--h3-font-size-md, $h3-font-size-md); 
    line-height: var(--h3-line-height-md, $h3-line-height-md);
}
h4#headingMd4.h4-md { 
    font-size: var(--h4-font-size-md, $h4-font-size-md); 
    line-height: var(--h4-line-height-md, $h4-line-height-md);
}
h5#headingMd5.h5-md { 
    font-size: var(--h5-font-size-md, $h5-font-size-md); 
    line-height: var(--h5-line-height-md, $h5-line-height-md);
}
h6#headingMd6.h6-md { 
    font-size: var(--h6-font-size-md, $h6-font-size-md); 
    line-height: var(--h6-line-height-md, $h6-line-height-md);
}

h1#headingSm1.h1-sm{ 
    font-size: var(--h1-font-size-sm, $h1-font-size-sm); 
    line-height: var(--h1-line-height-sm, $h1-line-height-sm);
}
h2#headingSm2.h2-sm{ 
    font-size: var(--h2-font-size-sm, $h2-font-size-sm); 
    line-height: var(--h2-line-height-sm, $h2-line-height-sm);
}
h3#headingSm3.h3-sm{ 
    font-size: var(--h3-font-size-sm, $h3-font-size-sm); 
    line-height: var(--h3-line-height-sm, $h3-line-height-sm);
}
h4#headingSm4.h4-sm{ 
    font-size: var(--h4-font-size-sm, $h4-font-size-sm); 
    line-height: var(--h4-line-height-sm, $h4-line-height-sm);
}
h5#headingSm5.h5-sm{ 
    font-size: var(--h5-font-size-sm, $h5-font-size-sm); 
    line-height: var(--h5-line-height-sm, $h5-line-height-sm);
}
h6#headingSm6.h6-sm{ 
    font-size: var(--h6-font-size-sm, $h6-font-size-sm); 
    line-height: var(--h6-line-height-sm, $h6-line-height-sm);
}

//Body
p {
 &.p-large {
    font-size: var(--p-font-size-lg, $p-size-lg);
    line-height: var(--p-line-height-lg, $p-line-height-lg);
 }
 &.p-base {
    font-size: var(--p-font-size, $p-size-base);
    line-height: var(--p-line-height, $p-line-height-base);
}
&.p-small {
    font-size: var(--p-font-size-sm, $p-size-sm);
    line-height: var(--p-line-height-sm, $p-line-height-sm);
}
&.p-xsmall {
    font-size: var(--p-font-size-xs, $p-size-xsm);
    line-height: var(--p-line-height-xs, $p-line-height-xsm);
}
&.p-tiny {
    font-size: var(--p-font-size-tiny, $p-size-tn);
    line-height: var(--p-line-height-tiny, $p-line-height-tn);
}
}

//Action
p#aLarge.a-large {
    font-size: var(--p-action-font-size-lg, $action-size-lg);
    line-height: var(--p-action-line-height-lg, $action-line-height-lg);
}
p#aMedium.a-medium {
    font-size: var(--p-action-font-size-md, $action-size-md);
    line-height: var(--p-action-line-height-md, $action-line-height-md);
    @include media-breakpoint-down(md) {
        font-size: var(--p-action-font-size-md, $action-size-md);
        line-height: var(--p-action-line-height-md, $action-line-height-md);
    } 
}
p#aSmall.a-small {
    font-size: var(--p-action-font-size-sm, $action-size-sm);
    line-height: var(--p-action-line-height-sm, $action-line-height-sm);
    @include media-breakpoint-down(sm) {
        font-size: var(--p-action-font-size-sm, $action-size-sm);
        line-height: var(--p-action-line-height-sm, $action-line-height-sm);
    }
}