//Heading
$h1-font-size: 4.75rem;
$h2-font-size: 2.1875rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.125rem;
$h6-font-size: 0.875rem;

$h1-line-height: 4.75rem;
$h2-line-height: 2.1875rem;
$h3-line-height: 2rem;
$h4-line-height: 1.75rem;
$h5-line-height: 1.25rem;
$h6-line-height: 1rem;

$h1-line-height-md: 2.5rem;
$h2-line-height-md: 2rem;
$h3-line-height-md: 1.5rem;
$h4-line-height-md: 1.5rem;
$h5-line-height-md: 1.25rem;
$h6-line-height-md: 1rem;

$h1-font-size-md: 2.125rem;
$h2-font-size-md: 1.875rem;
$h3-font-size-md: 1.625rem;
$h4-font-size-md: 1.4375rem;
$h5-font-size-md: 1.125rem;
$h6-font-size-md: 0.875rem;

$h1-line-height-sm: 2.25rem;
$h2-line-height-sm: 2rem;
$h3-line-height-sm: 2rem;
$h4-line-height-sm: 1.5rem;
$h5-line-height-sm: 1.25rem;
$h6-line-height-sm: 1rem;

$h1-font-size-sm: 2rem;
$h2-font-size-sm: 1.8125rem;
$h3-font-size-sm: 1.625rem;
$h4-font-size-sm: 1.4375rem;
$h5-font-size-sm: 1.125rem;
$h6-font-size-sm: 0.875rem;

//Body
$p-size-lg: 1.3125rem;
$p-size-base: 1rem;
$p-size-sm: 0.8125rem;
$p-size-xsm: 0.6875rem;
$p-size-tn: 0.5625rem;

$p-line-height-lg: 2rem;
$p-line-height-base: 1.5rem;
$p-line-height-sm: 1.25rem;
$p-line-height-xsm: 1rem;
$p-line-height-tn: 0.75rem;

$action-size-lg: 1.125rem;
$action-size-md: 1rem;
$action-size-sm: 0.875rem;

$action-line-height-lg: 1.75rem;
$action-line-height-md: 1.5rem;
$action-line-height-sm: 1.25rem;