.challenge-content-title {
    margin-bottom: 4.375rem;
}

.challenge-content-img-wrapper {
    margin-bottom: 3.9375rem;
}

.challenge-content-body {
    margin: 0 22rem;
}

.challenge-content-body p + p {
    margin-top: 2rem;
}